<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}

  <body class="min-vh-100 d-flex flex-column">

  {% include 'header.html' %}

  {% include 'flash.html' %}

  <main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайты</h1>


<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
    </tr>
    </thead>
    <tbody>
    {% if urls %}
    {% for id, name, date, status in urls %}
    <tr>
        <td>{{ id }}</td>
        <td><a href="/urls/{{ id }}">{{ name }}</a></td>
        {% if date and status %}
        <td>{{ date }}</td>
        <td>{{ status }}</td>
        {% else %}
        <td></td>
        <td></td>
        {% endif %}
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  </table>
  </div>
    </div>
  </main>
  </body>
</html>
